<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Encontre o medicamento
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToLeituraDeReceitas()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content id="page6">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Puxe para atualizar" refreshingSpinner="circles" refreshingText="Atualizando..."></ion-refresher-content>
  </ion-refresher>
  <form id="encontreOMedicamento-form2">
    <ion-searchbar placeholder="Qual o medicamento" name="query" [(ngModel)]="query" id="encontreOMedicamento-search1"></ion-searchbar>
    <button ion-button block color="primary" outline [disabled]="!query" (click)="goToResultados({query: query})">
      Buscar
    </button>
  </form>
  <div *ngIf="resultList">
    <div>
      <ion-segment [(ngModel)]="selectedSegment" color="primary">
        <ion-segment-button value="por-principio-ativo">
          Similares
        </ion-segment-button>
        <ion-segment-button value="por-farmacia">
          Por Farmácia
        </ion-segment-button>
      </ion-segment>
    </div>

    <div>
      <div *ngIf="selectedSegment == 'por-principio-ativo'">
        <ion-list>
          <ion-item color="danger">
            Principio ativo: <b> Paracetamol </b>
          </ion-item>
          <ion-item *ngFor="let item of resultList" (click)="goToDetails(item)">
            {{ item.name }}
            <ion-note item-right>
              R$ {{ item.players[0].price }}
            </ion-note>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="selectedSegment == 'por-farmacia'">
        Por farmácia
      </div>
    </div>
  </div>
</ion-content>
