<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Encontre o medicamento
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page8">
  <form id="encontreOMedicamento4-form4">
    <ion-searchbar placeholder="Procure seu medicamento" name="query" id="encontreOMedicamento4-search3"></ion-searchbar>
  </form>
  <div>
    <ion-segment [(ngModel)]="selectedSegment" color="primary">
      <ion-segment-button value="por-principio-ativo">
        Similares
      </ion-segment-button>
      <ion-segment-button value="por-farmacia">
        Por Farmácia
      </ion-segment-button>
    </ion-segment>
  </div>

  <div>
    <div *ngIf="selectedSegment == 'por-principio-ativo'">
      <p style="color:#F11B1B;font-size:16px;">
        Principio ativo: <b> Paracetamol </b>
      </p>
      <ion-list id="encontreOMedicamento4-list4">
        <ion-item color="balanced" id="encontreOMedicamento4-list-item23">
          Paracetamol
          <ion-note item-right>
            R$ 9,99
          </ion-note>
        </ion-item>
        <ion-item color="none" on-click="goToEncontreOMedicamento5()" id="encontreOMedicamento4-list-item24">
          Tylenol
          <ion-note item-right>
            R$ 9,99
          </ion-note>
        </ion-item>
        <ion-item color="none" id="encontreOMedicamento4-list-item25">
          Tylemax
          <ion-note item-right>
            R$ 9,99
          </ion-note>
        </ion-item>
        <ion-item color="none" id="encontreOMedicamento4-list-item26">
          Sonridor
          <ion-note item-right>
            R$ 9,99
          </ion-note>
        </ion-item>
        <ion-item color="assertive" id="encontreOMedicamento4-list-item28">
          Cimegripe
          <ion-note item-right>
            R$ 9,99
          </ion-note>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="selectedSegment == 'por-farmacia'">
      Por farmácia
    </div>
  </div>

  <div id="encontreOMedicamento4-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
  </div>
</ion-content>
