<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div *ngIf="query">
        Buscando por: {{ query }}
      </div>
      <div *ngIf="!query">
        Resultados da pesquisa
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page7">
  <form id="encontreOMedicamento2-form3">
    <ion-searchbar placeholder="Tylenol" name="query" [(ngModel)]="query" id="encontreOMedicamento2-search2"></ion-searchbar>
  </form>
  <button id="encontreOMedicamento2-button12" ion-button color="positive" block (click)="goToEncontreOMedicamento2()">
    Buscar
  </button>
  <button id="encontreOMedicamento2-button7" ion-button color="positive" block>
    Ler código de barras
  </button>
  <ion-card id="encontreOMedicamento2-card21">
    <ion-list>
      <ion-item color="assertive" id="encontreOMedicamento2-list-item4">
        <ion-icon name="alert" item-left></ion-icon>
        Espere ! Você já tem esse medicamento na Sua Caixa de Remédios!
      </ion-item>
    </ion-list>
  </ion-card>
  <button id="encontreOMedicamento2-button4" ion-button color="stable" block (click)="goToEncontreOMedicamento4()">
    Procure mesmo assim
  </button>
</ion-content>
